<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <button
      class="navbar-toggler"
      (click)="isCollapsed = !isCollapsed"
      type="button"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="collapseBasic"
      [collapse]="!isCollapsed"
      [isAnimated]="true"
    >
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active"
              >Mathces</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active"
              >Lists</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active"
              >Messages</a
            >
          </li>
        </ng-container>
      </ul>

      <div class="dropdown" *ngIf="(currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Wellcome {{user.username | titlecase}}</a>
        <div class="dropdown-menu mt-md-3 mt-2" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form
        *ngIf="(currentUser$ | async) === null"
        #loginForm="ngForm"
        class="form-inline mt-2 mt-md-0"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control mr-sm-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Sign in
        </button>
      </form>
    </div>
  </div>
</nav>
